html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

.input {
  @apply border-2 rounded-full p-3 px-5 outline-none transition-colors border-neutral-200 dark:border-transparent dark:border-transparent hover:border-blue-300 dark:hover:border-neutral-500 focus:border-blue-500 dark:bg-neutral-700;
}

a:visited {
  color: #a048ec;
}

html body a,
.link_without_visited_color:visited {
  @apply text-primary-6 hover:text-primary-4 active:text-primary-7
  dark:(text-primary-5 hover:text-primary-3 active:text-primary-6);
}

.link_without_effects {
  @apply active:text-inherit hover:text-inherit focus:text-inherit visited:text-inherit text-inherit no-underline focus:outline-none;
}
